:root {
    --bg: #fff;
    --body-bg: #F6F6F6;
    --text: #353535;
    --active-link: #fefefe;
    --metadata: #6f6e69;
    --links: #100f0f;
    --black: #000;
    --red: #af2e1b;
    --orange: #E66E4C;
    --teal: #3c4b59;
    --beige1: #bfa07a;
    --beige2: #d9c3b0;
}