@font-face {
  font-family: "JB";
  src: url("/fonts/JetBrainsMono-Regular.woff2");
  font-display: block;
}

@font-face {
  font-family: "JBBold";
  src: url("/fonts/JetBrainsMono-Bold.woff2");
  font-weight: bold;
  font-display: block;
}

@font-face {
  font-family: "et-book-bold";
  src: url("/fonts/etbookot-bold-webfont.woff2");
  font-display: block;
  font-weight: bold;
}

@font-face {
  font-family: "et-roman";
  src: url("/fonts/et-book-roman-line-figures.woff");
  font-display: block;
}
