@charset "UTF-8";

::-moz-selection,
::selection {
  /* Code for Firefox */
  background: var(--selection);
}

::selection {
  background: var(--selection);
}

/* Tufte CSS styles */
html {
  font-size: 16px;
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  font-family: JB;
  background-color: var(--bg);
  color: var(--text);
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

/* Adds dark mode */

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  line-height: 1;
}

h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

section {
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: justify;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

strong {
  font-family: JBBold;
}

blockquote {
  font-size: 1rem;

  & p {
    width: 55%;
    margin-right: 40px;
    font-style: italic;
    font-family: JB;
  }

  & footer {
    width: 55%;
    font-size: 10rem;
    text-align: right;
  }
}

section > p,
section > footer,
section > table,
section > span#rn,
section > h1,
h2,
h3 {
  width: 55%;
}

section > div.post-title {
  width: calc(55% - 10px);
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

figure {
  padding: 0;
  border: 0;
  font-size: 0.8rem;
  font: inherit;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
}
a.external-link {
  background-image: url(../assets/arrow_hardedge.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: right;
  padding-right: 1.1em;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  background-color: var(--selection);
}

/* title section */
div.post-title {
  margin-top: 3rem;
  padding: 10px;
  background-color: var(--block-bg);
  border: 1px solid var(--block-border);
  & h1 {
    margin: 0;
  }

  & p {
    font-size: 0.9rem;
    font-family: JB;
    color: var(--metadata);
    margin: 0;
  }
}

.code-container {
  & .code-file {
    width: calc(55% - 10px);
    border: 1px solid var(--block-border);
    margin-bottom: 0;
    font-family: JBBold;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  & .astro-code {
    width: calc(55% - 10px);
    border: 1px solid var(--block-border);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 0px solid;
    margin-top: 0;
    padding: 10px;
  }
}

code {
  font-family: JB;
}

/* Sidenotes, margin notes, figures, captions */

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -55%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote:hover ~ .sidenote-number {
  background-color: var(--orange);
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 0.8rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.marginnote > code,
.sidenote > code {
  font-size: 0.8rem;
  font-family: JB;
  background-color: white;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

/* for smaller screens  */

/* my utilities */

.line {
  stroke: #353535;
}

.hl {
  color: #fff;
  background: var(--orange);
}

/* INDEX PAGE */

.index-list {
  padding: 0;
  list-style: none;
}

.index-list-element {
  & .date {
    font-size: 1rem;
    font-style: italic;
    color: var(--metadata);
  }
}

.element-updated-text {
  color: var(--orange);
  font-style: italic;
  font-size: 1rem;
}

.backlink-area {
  width: calc(55% - 10px);
  border: 1px solid var(--block-border);
  margin-bottom: 200px;
  padding-left: 20px;
  & p {
    margin-top: 10px;
  }
  & .con-list-backlink {
    padding-inline-start: 0px;
    list-style: none;
  }
}

.footer {
  display: flex;
  font-family: JB;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 24px;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--metadata);
  background-color: var(--bg);
  border-top: 1px solid var(--taskbar-border);

  & a {
    color: var(--metadata);
  }
}

.taskbar {
  display: flex;
  font-family: JB;
  position: fixed;
  align-items: center;
  top: 0px;
  left: 0;
  /* padding-left: 20px; */
  width: 100%;
  border-top: 1px solid var(--taskbar-border);
  border-bottom: 1px solid var(--taskbar-border);
  height: 24px;
  background-color: var(--taskbar-border);
  text-transform: uppercase;
  /* box-shadow: 0px 24px 0px var(--body-bg); */

  /* for enabling after scroll*/
  /* opacity: 0;
  
        &.visible {
            opacity: 1;
        } */

  & a {
    text-decoration: none;
  }
}

.hiddenItem {
  display: none;
}

.taskbar-item {
  font-family: JBBold;
  border: 1px solid var(--taskbar-border);
  height: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 11.5px;

  &:nth-child(1) {
    color: white;
    background-color: var(--orange);

    &::after {
      content: "";
      position: absolute;
      border-left: 12px solid var(--orange);
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 0;
      right: -12px;
    }

    @media screen and (max-width: 769px) {
      white-space: nowrap;
    }
  }

  &:nth-child(2) {
    cursor: pointer;
    background-color: var(--taskbar-fg);

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      border-left: 12px solid transparent;
      border-top: 12px solid var(--taskbar-fg);
      border-bottom: 12px solid var(--taskbar-fg);
      border-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      border-left: 12px solid var(--taskbar-fg);
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 0;
      right: -12px;
    }

    @media screen and (max-width: 769px) {
      white-space: nowrap;
    }
  }

  &:nth-child(3) {
    cursor: pointer;
    color: var(--text);

    background-color: var(--taskbar-fg);

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      border-left: 12px solid transparent;
      border-top: 12px solid var(--taskbar-fg);
      border-bottom: 12px solid var(--taskbar-fg);
      border-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      border-left: 12px solid var(--taskbar-fg);
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 0;
      right: -12px;
    }

    @media screen and (max-width: 769px) {
      white-space: nowrap;
    }
  }

  &:nth-child(4) {
    color: var(--text);
    @media screen and (max-width: 769px) {
      white-space: nowrap;
    }
  }

  & a.home {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  & a.home:hover {
    background-color: unset;
  }
}

.hiddenContent {
  position: absolute;
  width: 480px;
  height: 240px;
  overflow-y: scroll;
  background: var(--block-bg);
  padding: 1rem;
  border: 1px solid var(--taskbar-border);
  border-radius: 6px;
  box-shadow:
    0px 0px 6px rgba(3, 7, 18, 0.09),
    0px 0px 23px rgba(3, 7, 18, 0.18);

  & p {
    color: var(--metadata);
    font-size: 1rem;
  }
  & blockquote > p {
    width: 100%;
  }
}

.hiddenContentTitleBar {
  position: sticky;
  font-size: 1rem;
  top: 0px;
  padding-left: 4px;
  background: var(--orange);
  color: var(--active-link);
}

.hiddenPrev {
  display: none;
}

.visiblePrev {
  display: block;
}

.menubarExt {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 120px;
  color: var(--text);
  background-color: var(--taskbar-fg);
  /* overflow: hidden; */
  display: none;
  /* Initially hidden */
  text-transform: uppercase;
  border: 1px solid var(--taskbar-border);
  border-left: 1px solid var(--taskbar-border);
  border-right: 1px solid var(--taskbar-border);

  & ul {
    display: flex;
    gap: 0px;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    list-style: none;

    & li {
      line-height: 1.2rem;

      padding-right: 10px;
      font-size: 1rem;
    }
  }
}

.menubarExtExt {
  position: fixed;
  top: 30px;
  left: 60px;
  width: 300px;
  background-color: var(--taskbar-fg);
  /* overflow: hidden; */
  display: none;
  /* Initially hidden */
  text-transform: uppercase;
  border: 1px solid var(--taskbar-border);
  border-left: 1px solid var(--taskbar-border);
  border-right: 1px solid var(--taskbar-border);

  & ul {
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    list-style: none;

    & li {
      line-height: 1.2rem;

      padding-right: 10px;
      font-size: 1rem;
    }
  }
}

@media (max-width: 1080px) {
  body {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  hr,
  section > p,
  section > footer,
  section > table,
  section > span#rn,
  section > h1,
  h2,
  h3,
  section > div.post-title {
    width: 100%;
  }

  section > div.post-title {
    width: calc(100% - 20px);

    & h1 {
      font-size: 2.8rem;
    }
  }

  section > dl,
  section > ol,
  section > ul {
    width: 90%;
  }

  figure {
    max-width: 90%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .code-container {
    & .code-file {
      width: calc(100% - 10px);
    }

    & .astro-code {
      width: calc(100% - 10px);
    }
  }

  .backlink-area {
    width: calc(100% - 10px);
  }
}
