@charset "UTF-8";

::-moz-selection,
::selection {
  /* Code for Firefox */
  background: var(--selection);
}

::selection {
  background: var(--selection);
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

/* Tufte CSS styles */

body {
  width: 87.5%;
  margin-left: 60px;
  margin-right: 24px;
  margin-top: 0px;
  font-family: bdy;
  font-weight: 450;
  background-color: var(--bg);
  color: var(--text);
  max-width: 1400px;
  min-width: 970px;
  counter-reset: sidenote-counter;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-family: bdy;
  font-size: 1rem;
  border-bottom: 1px solid;
}

h2 {
  font-weight: 700;
  font-family: bdy;
  font-size: 1rem;
  border-bottom: 1px solid;
}

h3 {
  font-weight: 700;
  font-size: 1rem;
  font-family: bdy;
  line-height: 1;
}

hr {
  display: block;
  height: 1px;
  width: 60%;
  border: 0;
  border-top: 1px solid var(--border);
  margin: 1em 0;
  padding: 0;
}

section {
  padding-bottom: 1rem;
}

article {
  padding-top: 20px;
}

p,
dl,
ol,
ul {
  font-size: 15px;
  line-height: 1.6rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

strong {
  font-family: bdy;
  font-weight: 700;
}

blockquote {
  & p {
    width: 60%;
    margin-right: 40px;
    font-style: italic;
    font-family: bdy;
  }
}

section > p,
section > footer,
section > table,
section > span#rn,
section > h1,
h2,
h3 {
  width: 60%;
}

section > p:first-child {
  margin-top: 0;
}

/* 55 + 5 == 60, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
  width: 55%;
}

figure {
  padding: 0;
  border: 0;
  font-size: 0.8rem;
  font: inherit;
  vertical-align: baseline;
  max-width: 60%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

figure.fullwidth figcaption {
  margin-right: 24%;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
}

a.external-link::after {
  content: "°";
}

img {
  max-width: 100%;
  height: auto;
}

img.banner {
  border: 1px solid black;
}

a:hover {
  background-color: var(--black);
  color: white;
}

/* title section */

.code-container {
  font-size: 14px;
  & .code-file {
    width: calc(60% - 20px);
    border: 1px solid var(--border);
    box-shadow: 2px 2px 0px var(--boxsh);
    margin-bottom: 0;
    font-family: JBBold;
    padding-left: 10px;
    padding-right: 10px;
  }

  & .astro-code {
    width: calc(60% - 20px);
    border: 1px solid var(--border);
    box-shadow: 2px 2px 0px var(--boxsh);
    border-top: 0px solid;
    margin-top: 0;
    padding: 10px;
  }
}

code {
  font-family: JB;
}

/* Sidenotes, margin notes, figures, captions */

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -55%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.sidenote:hover ~ .sidenote-number {
  background-color: var(--orange);
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 0.8rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 0.8rem;
  top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.marginnote > code,
.sidenote > code {
  font-size: 0.8rem;
  font-family: JB;
  background-color: white;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

/* my utilities */

.hl {
  color: #fff;
  background: var(--orange);
}

/* INDEX PAGE */
.active-path {
  color: var(--red);
  border: 1px solid var(--block-border);
  padding-left: 10px;

  &::before {
    content: " ●";
  }
}

.nav-basic {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  background-color: var(--bg);
  height: auto;
  margin-top: 24px;
  width: 60%;

  & .logo {
    margin: 0;
    font-family: JBBold;
    font-size: 1rem;
    height: 23px;

    & a {
      background-color: black;
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  & a {
    text-decoration: none;
    color: unset;
  }

  & div.menubar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    font-family: JBBold;
    text-transform: uppercase;
    gap: 0.5rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    & div {
      border: 1px solid var(--border);
      width: 200px;
      box-sizing: border-box;
      & a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 2px;
        box-sizing: border-box;
        font-size: 0.8rem;
      }

      & a:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

.index-table {
  border-bottom: 0px;
  border-right: 1px solid var(--border);
  border-spacing: 0;
  box-shadow: 2px 2px 0px var(--boxsh);
  font-size: 14px;

  & td.index-header {
    background-color: var(--table-bg);
    border-left: 1px solid var(--border);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    font-family: JBBold;
    font-weight: 700;

    & a {
      text-decoration: none;
    }
  }

  & td {
    font-family: JB;
    text-align: left;
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    padding: 4px;
  }

  & td.index-date {
    width: 120px;
  }

  & td.index-read {
    width: 84px;
    & a {
      background-color: black;
      color: white;
      padding: 0 0.75rem;
      text-decoration: none;
    }

    & a:hover,
    a:visited:hover {
      background-color: var(--red);
    }

    & a:visited {
      background-color: var(--metadata);
    }
  }

  & td.article-excerpt {
    color: lightgray;
    font-style: italic;
    font-size: 11px;
    padding-left: 10px;

    &:hover {
      color: var(--red);
    }
  }
}

.no-underline {
  & a {
    text-decoration: none;
  }
  & a:hover {
    background-color: unset;
  }
}

.metadata {
  padding: 0.5rem 1rem 1rem 1rem;
  width: calc(60% - 2px - 2rem);
  border: 1px solid;
  font-family: JB;
  background-color: var(--block-bg);
}

.metadata-table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8rem;
  width: 100%;
  text-transform: uppercase;

  & thead td {
    font-size: 1rem;
    font-family: JBBold;
  }

  & td {
    padding: 0.2rem;
    border-bottom: 1px solid var(--border);
  }
  & tbody td {
    color: var(--metadata);
  }
  & td:nth-child(2) {
    text-align: right;
  }
}

.interactions {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
  font-family: JB;
  font-size: 14px;
  box-sizing: border-box;

  & span.btn {
    border: 1px solid var(--border);
    box-shadow: 2px 2px 0px var(--boxsh);
    box-sizing: border-box;
    cursor: pointer;

    & a {
      display: block;
      box-sizing: border-box;
      padding: 4px;
      text-decoration: none;
      color: var(--links);
    }

    & a:hover {
      color: white;
    }
  }

  & span.btn:nth-child(1) {
    background-color: var(--red);
    & a {
      color: white;
    }
  }
}

.popup {
  position: relative;
  transform: translate(0%, 25%);
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 14px;
  border-radius: 4px;
  display: none;
  z-index: 1000;
}

.popup.show {
  display: block;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* article page */

.backlink-area {
  width: calc(60% - 10px);
  background-color: var(--block-bg);
  border: 1px solid var(--border);
  box-shadow: 2px 2px 0px var(--boxsh);
  padding-left: 10px;
  margin-bottom: 3rem;
  font-family: JB;
  & p {
    margin-top: 10px;
    font-family: JBBold;
  }
  & .con-list-backlink {
    padding-inline-start: 0px;
    list-style: none;
  }
}

.footer {
  display: flex;
  font-family: bdy;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 4px;
  background-color: var(--bg);

  & a {
    color: var(--metadata);
    text-decoration: none;
  }
}

.hiddenContent {
  position: absolute;
  width: 420px;
  height: 240px;
  overflow-y: scroll;
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: 4px 4px 0px var(--boxsh);
  & p {
    color: var(--metadata);
    font-size: 14px;
    line-height: 1.5;
    padding-left: 1rem;
  }
  & blockquote > p {
    width: 100%;
  }
}

.hiddenContentTitleBar {
  position: sticky;
  font-size: 1rem;
  top: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: var(--orange);
  color: var(--active-link);
}

.hiddenPrev {
  display: none;
}

.visiblePrev {
  display: block;
}

@media (max-width: 870px) {
  body {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 0;
    min-width: unset;
  }

  section {
    width: 100%;
    box-sizing: border-box;
  }

  hr,
  section > p,
  section > footer,
  section > table,
  section > span#rn,
  section > h1,
  h2,
  h3,
  section > div.post-title {
    width: 98%;
    font-size: 13px;
    line-height: 1.5;
  }

  section > dl,
  section > ol,
  section > ul {
    width: 100%;
  }

  p,
  li {
    width: 94%;
    font-size: 13px;
    line-height: 1.5;
  }

  figure {
    max-width: 100%;
  }

  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  blockquote p,
  blockquote footer {
    width: 100%;
  }

  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin: 1rem 2.5%;
    position: relative;
  }

  label {
    cursor: pointer;
  }

  div.table-wrapper,
  table {
    width: 85%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .code-container {
    font-size: 12px;
    width: 98%;
    & .code-file {
      width: calc(100% - 20px);
      font-size: 12px;
    }

    & .astro-code {
      width: calc(100% - 20px);
    }
  }

  .nav-basic {
    width: calc(100% - 3px);
    & div.menubar {
      font-size: 11px;
    }
  }

  .index-table {
    width: 98%;
    font-size: 12px;
  }

  .metadata {
    width: calc(100% - 3px);
    box-sizing: border-box;

    & thead td {
      font-size: 12px;
    }

    & tbody {
      font-size: 12px;
    }
  }

  .interactions {
    font-size: 12px;

    & span.copy {
      display: none;
    }
  }

  .backlink-area {
    width: calc(100% - 20px);
  }

  .nav-simple {
    width: 98%;
    flex-direction: column;

    & .arrow {
      display: none;
    }
  }
}

/* utilities */

.type-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b2923;
  color: #20c20e;
  border: 1px solid #20c20e;
  border-radius: 3px;
  padding: 1px 3px;
  text-transform: uppercase;
}

#type {
  font-size: 15px;
}

.sh {
  box-shadow: 2px 2px var(--boxsh);
}

.soft {
  border-color: var(--border);
}

.nav-simple {
  width: 60%;
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: JB;
  display: flex;

  & .logo {
    margin: 0;
    font-family: JBBold;

    & a {
      background-color: black;
      color: white;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      text-decoration: none;
    }
  }

  & .arrow {
    font-family: JBBold;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  & .nav-ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    & li a {
      text-decoration: none;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      color: var(--text);
    }

    & li a:hover {
      background-color: var(--red);
      color: white;
    }

    & .active {
      background-color: var(--menubg);
      color: var(--text);
    }
  }
}
