::-moz-selection {
    /* Code for Firefox */
    color: #fefefe;
    background: var(--teal);
}

::selection {
    color: #fefefe;
    background: var(--teal);
}

:root {
    --bg: #fff;
    /* white bg for blocks*/
    --body-bg: #F6F6F6;
    /* --body-bg: #f6f5f0; */
    --text: #353535;
    --metadata: #6f6e69;
    --links: #100f0f;
    --red: #af2e1b;
    --orange: #E66E4C;
    --teal: #3c4b59;
    --beige1: #bfa07a;
    --beige2: #d9c3b0;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-rendering: geometricPrecision !important;
    -webkit-font-smoothing: antialiased !important;
}

html {
    background-color: var(--bg);
    overflow-y: scroll;
}

body {
    color: var(--text);
    background-color: var(--bg);
    margin: 0 auto;
    max-width: 65ch;
    padding: 1rem;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    & a {
        color: var(--links);
        text-decoration: underline;
    }
}

.index {
    border: 1px solid;

    & .index-text {
        padding: 20px;
    }

    & .index-articles {
        background-color: var(--body-bg);
        padding: 20px;
    }
}

blockquote {
    margin: 0;
    padding: 0.5rem;
    padding-left: 1rem;
    font-style: italic;
    font-size: 0.75rem;
    background-color: var(--bg);
    border: 1px solid #ddd;
}


img {
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

a:hover {
    color: #eeeeee;
    /* padding: 2px; */
    background-color: var(--teal);
    transition: ease-in 0.1s;
}

@media screen and (min-width: 770px) {
    body {
        font-size: 1.25rem;
        /* border: 1px solid #dddddd; */
        margin-top: 16px;
        margin-bottom: 24px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }



    .floating-button {
        display: none !important;
    }

    .mobile-header {
        display: none !important;
    }
}


@media screen and (max-width: 769px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    h3 {
        font-size: 1rem;
    }

    p:has(img) {
        text-align: center;
    }

    img {
        max-width: 65vw;
        height: auto;
        margin: 0;
        transform: unset;
    }

    .navbar {
        display: none !important;
    }

    .floating-button {
        display: flex !important;
    }
}



.logo-bot {
    margin-top: 1rem;
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
}

.logo-bot a {
    border-bottom: 0;
    background-color: unset;
}

.navbar {
    display: flex;
    background-color: var(--bg);
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding-left: 0;

    & a {
        text-decoration: none;
    }

    & li {
        border-right: 1px solid;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}



.post-title {
    text-align: left;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    padding: 20px;
    background: var(--bg);

    & h1 {
        margin: 0;
    }

    & p {
        font-size: 0.8rem;
        color: var(--metadata);
        margin: 0;
    }
}

.main {
    background: var(--body-bg);
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 20px;
    text-align: justify;

    & :first-child {
        margin-top: 0px;
    }

    & a {
        color: var(--links);
        text-decoration: none;
        border-bottom: 1px solid var(--links);
        cursor: pointer;
    }

    & a.external-link {
        background-image: url(../assets/arrow_hardedge.svg);
        background-repeat: no-repeat;
        background-size: 0.8rem;
        background-position: right;
        padding-right: 1em;
    }

    & a:hover {
        color: #eee;
        background: var(--teal);
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    /* border-top: 1px solid #ddd; */
    padding-top: 1rem;
    margin-top: 1rem;
    color: #272727;
    font-size: 0.7rem;
}

.footer-links a {
    font-size: 0.7rem;
    border-bottom: 0px solid;
}

.articles {
    /* max-width: 40em; */
    padding: 0;
    list-style: none;
}

.articleList {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.article:hover .article-updated-text {
    display: inline;
}

.article-updated-text {
    font-style: italic;
    font-size: 0.75rem;
    color: var(--orange);
    display: none;
}



/* highlighted sections in articles */
.hltr-ah {
    color: #fff;
    background: var(--orange);
}

/* bits */

.bit {
    background: var(--bg);
    padding-left: 0.2rem;
    border-bottom: 1px dashed #100f0f;
}

.bit-metadata {
    color: #6f6e69;
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
}

/* .astro-code {
  padding: 1rem;
  font-size: 14px;
}

.astro-code * {
  font-family: 'JetBrains Mono', monospace;
} */

/* occasional line after articles */

hr {
    width: 25%;
    border: 1px solid var(--text);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* back and forward links */




.backlink-area {
    /*border-top: 4px solid var(--teal);*/
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    /* margin-right: calc(-1rem + -1px); */
    /* margin-left: calc(-1rem + -1px); */
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    background: #fff;

    & h3 {
        background-image: url(../assets/backlink-arrow.png);
        background-repeat: no-repeat;
        /* background-size: 1rem; */
        background-position: left;
        /* border-bottom: 1px solid #282828; */
        padding-left: 2rem;
        margin: 0;
    }


    & .con-list-backlink {
        list-style: none;
    }
}


/* utils section like dark theme switcher etc. */
.utils {
    display: flex;
    margin-left: auto;
}

.container-404 {
    width: 480px;
    border: 2px solid;
    padding: 10px;
    background: #f9f9f7;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#commits {
    list-style: none;
    font-size: 0.75rem;
    font-family: "JetBrains", monospace;
}

#toots {
    opacity: 0.45;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background: var(--bg);
    font-size: 0.8rem;

    & .toots-actions>p:nth-of-type(1) {
        opacity: 0.5;
    }

    & .toots-actions>p:nth-of-type(2) {
        font-style: italic;
    }

    & .toots-actions {
        display: flex;
        justify-content: space-between;
    }

    & .toots-headers {
        display: flex;
        gap: 10px;

        & img {
            width: 48px;
            filter: grayscale(100%);
        }
    }
}

#toots:hover {
    opacity: 0.8;
}

/*Sidenotes*/

/*.sn {*/
/*  position: absolute;*/
/*  max-width: 37.5ch;*/
/*  float: right;*/
/*  clear: right;*/
/*  margin-left: calc(712px - 50px - 4px);*/
/*  background: var(--body-bg);*/
/*  border: 1px solid;*/
/*  border-left: 1px solid var(--body-bg);*/
/*  padding-top: 8px;*/
/*  padding-right: 8px;*/
/*  font-size: 0.75rem;*/
/*}*/




.mobile-header {
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        text-decoration: none;
    }
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    color: var(--text);
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid;

}


/* Menu styling */
.menu {
    /* width: 310px; */
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 60px;
    background-color: white;
    /* overflow: hidden; */
    display: none;
    /* Initially hidden */
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;

    & ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
        margin: 0;
        list-style: none;

        & li {
            padding-right: 10px;
        }

    }
}