---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/global.css";
import BasePage from "../layouts/BasePage.astro";

const pageTitle = "404 - kenan.fyi";
---

<BasePage pageTitle={pageTitle}>
  <section>
    <div class="container-404">
      <p>Oops!</p>
      <h1 style="font-size: 72px; color:var(--red)">404</h1>
      <p>Either you manually entered a non-existing path or my lazy ass forgot to update the page link. Sorry!</p>
      <p>
        <a href="/">get me out of here</a>
      </p>
    </div>
  </section>
</BasePage>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    plausible("404", { props: { path: document.location.pathname } });
  });
</script>

<style>
  .container-404 {
    width: 480px;
    border: 2px solid var(--border);
    padding: 10px;
    background: var(--bg);
    position: absolute;
    left: 45%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>
