---
import "../styles/global.css";
import Nav from "../components/Nav.astro";
---

<div class="container-404">
  <h1>Oops!</h1>
  <h1 style="font-size: 72px;">404</h1>
  <h2>
    Either you manually entered a non-existing path or my lazy forgot to update
    the page link. Sorry!
  </h2>
  <p>
    <a href="/">get me out of here</a>
  </p>
</div>
