---
import Base from "../layouts/Base.astro";
const pageTitle = "about this blog";
---

<Base pageTitle={pageTitle}>
  <h1>who i am and what is this?</h1>
  <p>
    Kenan here and this is my blog where I experiment with web technologies
    related mostly to JS while also posting about some techy stuff. I am an
    Hardware Engineer, based in Germany and my main area is Power Electronics.
  </p>
  <p>
    I'm not a professional web developer (not earning my life from web
    development), but I do have many years of development experience mostly
    based on JavaScript. I did some PHP back when I first started with web, but
    nowadays I just code in PHP occasionally, if I need to edit Wordpress sites
    of family or friends.
  </p>

  <p>
    You can reach me through my socials below or just say hi: <a
      href="mailto:hey@kenan.fyi">hey@kenan.fyi</a
    >
  </p>

  <ul>
    <li>
      <a href="https://twitter.com/kenanfyi" target="_blank"
        >twitter/@kenanfyi<a></a>
      </a>
    </li>
    <li>
      <a href="https://bsky.app/profile/kenan.fyi">bsky/kenan.fyi</a>
    </li>
  </ul></Base
>
