---
import Base from "../layouts/Base.astro";
const pageTitle = "about this blog";
---

<Base pageTitle={pageTitle}>
  <div class="post-title">
    <h1>who i am and what is this?</h1>
  </div>
  <main class="main">
    <p>
      Kenan here and this is my blog where I experiment with web technologies
      related mostly to JS while also posting about some techy stuff. I am an
      Hardware Engineer in fact and my main area is Power Electronics.
    </p>
    <p>
      I'm not a professional web developer (not earning my life from web
      development), but I do have many years of development experience mostly
      based on JavaScript. I did some PHP back when I first started with web,
      but nowadays I just code in PHP very rarely, if I need to edit Wordpress
      sites of family or friends. Currently learning Rust for some local stuff.
    </p>

    <p>
      You can say hi on Mastodon <a rel="me" href="https://mas.to/@ingenieur"
        >@ingenieur@mas.to</a
      >
      or with good old e-mail: <a href="mailto:hey@kenan.fyi">hey@kenan.fyi</a>
    </p>
  </main>
</Base>
