---
import { getCollection } from "astro:content";
import Bit from "../components/Bit.astro";
import Base from "../layouts/Base.astro";

const bits = await getCollection("bits");

const pageTitle = "bits";

// TODO: Add the Content Promise for Markdown formatted text.
---

<Base pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  {
    bits.map(async (b) => {
      const { Content } = await b.render();
      return (
        <Bit frontmatter={b.data}>
          <Content />
        </Bit>
      );
    })
  }
</Base>
