---
import Base from "../layouts/Base.astro";
const pageTitle = "bits";
---

<Base pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>short format content will come here. something like tweets I guess.</p>
</Base>
