---
import Base from "../layouts/Base.astro";
const pageTitle = "blogroll";
---

<Base pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <i>Last Updated: 21 Jun 2024</i>
  <p>below are some blogs I regularly read, in no particular order:</p>
  <ul>
    <li><a href="https://manuelmoreale.com/">Manuel Moreale</a></li>
    <li><a href="https://maggieappleton.com/">Maggie Appleton</a></li>
    <li><a href="https://blog.jim-nielsen.com/">Jim Nielsen</a></li>
    <li><a href="https://fasterthanli.me">Amos Wenger</a></li>
    <li><a href="https://matklad.github.io">Alex Kladov</a></li>
    <li><a href="https://thesephist.com">Linus Lee</a></li>
    <li><a href="https://meltingasphalt.com/">Kevin Simler</a></li>
    <li><a href="https://tonsky.me">Nikita Prokopov</a></li>
    <li>
      <a href="https://css-irl.info/">CSS in Real Life, Michelle Barker</a>
    </li>
    <li><a href="https://csscade.com">Robin Rendle</a></li>
    <li><a href="https://fabiensanglard.net/">Fabien Sanglard</a></li>
    <li><a href="https://jvns.ca/">Julia Evans</a></li>
    <li><a href="https://stephango.com">Steph Ango</a></li>
    <li>
      <a href="https://interconnected.org/home/"
        >Matt Webb, interconnected.org</a
      >
    </li>
    <li>
      <a href="https://librarian.aedileworks.com/"
        >Mita Williams, Librarian of Things</a
      >
    </li>
    <li><a href="https://sebastiandedeyne.com/">Sebastian De Deyne</a></li>
    <li>
      <a
        href="https://thoughts.uncountable.uk/discretionary-vs-non-discretionary-spend/"
        >Uncountable thoughts</a
      >
    </li>
    <li><a href="https://adactio.com/">Jeremy Keith</a></li>
    <li><a href="https://michal.sapka.me/">Michał Sapka</a></li>
    <li><a href="https://blog.wesleyac.com/">Wesley Aptekar-Cassels</a></li>
    <li><a href="https://tangiblelife.net">Tangible Life</a></li>
    <li><a href="https://chriscoyier.net/">Chris Coyier</a></li>
    <li><a href="https://julian.digital">julian.digital</a></li>
    <li>
      <a href="https://brainbaking.com/">Wouter Groeneveld</a>
    </li>
  </ul>
</Base>
