---
import BasePage from "../layouts/BasePage.astro";
const pageTitle = "colophon";
---

<BasePage pageTitle={pageTitle}>
  <section class="main">
    <h1>{pageTitle}</h1>
    <p><i>Last Updated: 01 Dec 2024</i></p>
    <p>
      <strong>kenan.fyi</strong> is my personal website, simultaneously serving as an experimental tool on web design. I'm building in public and the entire codebase is hosted at
      <a href="https://github.com/kenandotfyi/kenanfyi" target="_blank">Github/kenan.fyi째</a>
    </p>

    <p>
      It is built with Astro and mostly static, although there are some client-side Javascript for interactivity. There are no ads and no analytics, and I don't plan to implement any ads in the
      future. I may implement an article view counter, but that will be the only thing in terms of analytics. Other than that, I will never implement some kind of bullshit tracking algorithm or
      anything like that. Blogging should be free of that kind of non-sense.
    </p>

    <p>
      Typeface I am using for body is <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono째</a>.
    </p>

    <p>
      Design changes all the time, so next time you are here, you might see some differences. General article layout consists of 2 columns, second column being reserved for the sidenotes. I have my
      own modifications on top of it, but the base is <a href="https://edwardtufte.github.io/tufte-css/">Tufte-CSS째</a>.
    </p>

    <p>
      For some icons I use the <a href="https://phosphoricons.com/">Phosphor Icons째</a>.
    </p>
  </section>
</BasePage>
