---
import Base from "../layouts/Base.astro";

const allArticles = await Astro.glob("../pages/articles/*.md");
const pageTitle = "base";
---

<Base pageTitle={pageTitle}>
  <p>still under construction...</p>
  <p>but you can read the initial post if you want:</p>
  {
    allArticles.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</Base>
