---
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

const allArticles = await getCollection("articles", ({ data }) => {
  return data.draft !== true;
});
allArticles.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
const pageTitle = "main";
---

<Base pageTitle={pageTitle}>
  <>
    <p>Hey,</p>
    <p>
      Kenan here. This blog is an experiment where I try new stuff out and keep
      learning about web technologies plus posting some thoughts that pops into
      my head.
    </p>
    There are some metadata inside the posts, which gives the reader some ideas about
    the articles. Like the status which shows if the article is completed or not.
    Also the update date. I will implement a more friendly metadata display in the
    upcoming days. Since I am building in public, I do my updates in the prod.

    <div style="text-align: center; margin-top: 24px">✶</div>
    <p>
      <i>Some recent posts:</i>
    </p>
      <ul class="postNames">
        {
          allArticles.map((article) => (
            <div class="postList">
              <li class="pubDates">
                  {article.data.pubDate.toLocaleDateString("en-uk", {
                    month: "short",
                    year: "numeric",
                    day: "2-digit",
                  })}
                  </li>
                  <span>・</span>  
                  <span>
                      <a href={`/articles/${article.slug}/ `}>{article.data.title}</a>
                  </span>
                  </div>
                ))
              }
    </ul>
  </div>
</Base>
