---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/global.css";
import { getCollection } from "astro:content";

import BasePage from "../layouts/BasePage.astro";

const pageTitle = "library";
---

<BasePage pageTitle={pageTitle}>
  <section>
    <p>library is getting designed at the moment :)</p>
    <p>
      <a href="/">go back home</a>
    </p>
  </section>
</BasePage>
