---
import Base from "../layouts/Base.astro";
const pageTitle = "now";
---

<Base pageTitle={pageTitle}>
  <div class="post-title">
    <h1>{pageTitle}</h1>
  </div>

  <main class="main">
    <p><i>Last updated: 22 Apr 2024</i></p>
    <p>
      Currently I'm trying to publish the articles I wrote already. But in the
      meantime I am still making updates to the blog design. So the look will
      probably be very different in the end.
    </p>

    <p>Some open points about the design:</p>
    <ul>
      <li>[ ] a proper working dark mode</li>
      <li>[ ] designing a logo</li>
      <li>[~] implementing the sidenotes</li>
      <li>[~] implementing the backlinking algorithm</li>
      <li>[~] fine tuning the layout</li>
      <li>[x] implementing the hover previews</li>
      <li>[x] designing a favicon</li>
      <li>[x] RSS feed</li>
      <li>[x] added last toot feed for every page (experimental)</li>
      <li>[x] content collections such as bits and articles</li>
    </ul>
  </main>
</Base>
