---
import Base from "../layouts/Base.astro";
const pageTitle = "now";
---

<Base pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Currently I'm trying to publish the articles I wrote already. But in the
    meantime I am still making updates to the blog design. So the look will
    probably be very different in the end.
  </p>

  <p>Some open points about the design:</p>
  <ul>
    <li>[ ] a proper working dark mode</li>
    <li>[ ] fine tuning the layout</li>
    <li>[ ] designing a logo</li>
    <li>[ ] designing a favicon</li>
  </ul>
</Base>
