---
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/global.css";
import { getCollection } from "astro:content";

import Base from "../layouts/Base.astro";
import Photo from "../components/Photo.astro";

const pageTitle = "photo archive - kenan.fyi";

const allPhotos = await getCollection("photos");
allPhotos.sort((a: any, b: any) => b.data.pubDate - a.data.pubDate);
---

<Base pageTitle={pageTitle}>
  <!--  <div class="photos">
    {
      allPhotos.map(async (p) => {
        const { Content } = await p.render();
        return (
          <Photo frontmatter={p}>
            <Content />
          </Photo>
        );
      })
    }
  </div> -->
  <p>under construction for a while (moving my server)</p>
  <a href="/">go back home</a>
</Base>
