---
import Base from "../layouts/Base.astro";
const pageTitle = "uses";
---

<Base pageTitle={pageTitle}>
  <div>
    <h1>uses</h1>
    <h2>Hardware</h2>
    <ul>
      <li>MacBook Pro M1 Pro</li>
      <li>LG 49WQ95X-W 49" Ultrawide Monitor</li>
      <li>Keychron Q65 Max</li>
      <li>Logitech MX Master 3</li>
      <li>iPhone 12 Pro</li>
      <li>iPad Pro 12.9"</li>
    </ul>
  </div>
</Base>
