---
import Base from "../layouts/Base.astro";
const pageTitle = "uses";
---

<Base pageTitle={pageTitle}>
  <h1>a standard uses page</h1>
  <ul>
    <li>this blog is created with Astro</li>
    <li>uses JetBrains Mono as the main font face</li>
  </ul>
</Base>
