---
import { zeit } from "../../utils/zeit.ts";
const { frontmatter } = Astro.props;
---

<div class="bit">
  <div class="bit-content">
    <p>
      <slot />
    </p>
  </div>
  <div class="bit-metadata">
    <span>{zeit(frontmatter.pubDate)}</span> ~
    <span>{frontmatter.tags}</span>
  </div>
</div>
