---
import { getCollection } from "astro:content";
const { backlinks } = Astro.props;

const allArticles = await getCollection("articles", ({ data }) => {
  return data.draft !== true;
});

const backlinksFiltered = allArticles.filter((item) => backlinks.includes(item.slug));
---

<div class="backlink-area">
  <p><strong>Backlinks</strong></p>
  {
    backlinksFiltered.length === 0 ? (
      <ul class="con-list-backlink">
        <li>no backlinks yet</li>
      </ul>
    ) : (
      <ul class="con-list-backlink">
        {backlinksFiltered.map((b) => (
          <li>
            <a href={`/articles/${b.slug}/`}>{b.data.title}</a>
          </li>
        ))}
      </ul>
    )
  }
</div>
