---
import { Icon } from "astro-icon/components";
---

<div class="footer">
  <div class="footer-links">
    <span><a href="https://mas.to/@ingenieur"><Icon name="ph:mastodon-logo-duotone" size="16" /></a></span>
    <span><a href="https://github.com/kenandotfyi"><Icon name="ph:github-logo-duotone" size="16" /></a></span>
    <span><a href="/colophon/">colophon</a></span>
    <span><a href="/blogroll/">blogroll</a></span>
    <span><a href="/rss.xml">rss</a></span>
    <span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a></span>
  </div>
</div>
