---

---

<div class="footer">
  <span class="footer-links">© Copyright 2024, <a href="/">kenan.fyi</a></span>
  /
  <span class="footer-links"><a href="/colophon">colophon</a></span>
  /
  <span class="footer-links"><a href="/rss.xml">RSS(Articles)</a></span>
</div>
