---

---

<div class="footer">
  <div class="footer-links">
    <span><a href="/colophon/" class="no-prev">Colophon</a> / </span>
    <span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">License</a> / </span>
    <span><a href="/rss.xml" class="no-prev">RSS</a></span>
  </div>
</div>
