---
import Logo from "./Logo.astro";
---

<div class="footer">
  <span class="footer-links"
    >© Copyright 2024, <a href="/" class="no-prev">kenan.fyi</a></span
  >
  //
  <span class="footer-links"
    ><a href="/colophon" class="no-prev">colophon</a></span
  >
  //
  <span class="footer-links"
    ><a href="/rss.xml" class="no-prev">RSS(Articles)</a></span
  >
</div>
