---
import Logo from "./Logo.astro";
---

<div class="footer">
  <div class="footer-links">
    <span><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a> </span>
    <span><a href="/" class="no-prev">kenan.fyi</a></span>
    <span><a href="/colophon" class="no-prev">colophon</a></span>
    <span><a href="/rss.xml" class="no-prev">rss</a></span>
  </div>
</div>
