---
const currentPath = Astro.url.pathname;
---

<div class="nav-links">
  <span class="logo"
    ><a href="/">~/</a>{currentPath.toString().split("/")[1]}</span
  >
  <span style="color: #ad1d1d">â—</span>
  <a href="/now/">now</a>

  <a href="/bits/">bits</a>
  <a href="/about/">about</a>
</div>
