---
const currentPath = Astro.url.pathname.toString().split("/")[1];

const { path } = Astro.props;
---

<nav class="nav-simple">
  <p class="logo"><a href="/">KENAN.FYI</a></p>
  <p class="arrow">⟶</p>
  <ul class="nav-ul">
    <li class="nav-item"><a href="/articles/" class={currentPath === "articles" ? "active " : ""}>Articles</a></li>
    <li class="nav-item"><a href="/notes/" class={currentPath === "notes" ? "active " : ""}>Notes</a></li>
    <li class="nav-item"><a href="/blogroll/" class={currentPath === "blogroll" ? "active " : ""}>Blogroll</a></li>
    <li class="nav-item"><a href="/now/" class={currentPath === "now" ? "active " : ""}>Now</a></li>
    <li class="nav-item"><a href="/about/" class={currentPath === "about" ? "active " : ""}>About</a></li>
  </ul>
</nav>
