---
const currentPath = Astro.url.pathname.toString().split("/")[1];

const { path } = Astro.props;
---

<nav class="nav-basic">
  <!-- <div id="menu" class="menu">Menu</div> -->
  <div class="menubar">
    <div class="sh"><a href="/">Home</a></div>
    <div class="sh"><a href="/articles/">Articles</a></div>
    <div class="sh"><a href="/notes/">Notes</a></div>
    <div class="sh"><a href="/now/">Now</a></div>
    <div class="sh"><a href="/blogroll/">Blogroll</a></div>
    <div class="sh"><a href="/about/">About</a></div>
  </div>
</nav>
