---
const currentPath = Astro.url.pathname.toString().split("/")[1];

const { path } = Astro.props;
---

<nav class="nav-simple">
  <p class="logo"><a href="/">KENAN.FYI</a></p>
  <p class="arrow">⟶</p>
  <ul class="nav-ul">
    <li class="nav-item"><a href="/articles/" class={currentPath === "articles" ? "active " : ""}>Articles</a></li>
    <li class="nav-item"><a href="/notes/" class={currentPath === "notes" ? "active " : ""}>Notes</a></li>
    <li class="nav-item"><a href="/library/" class={currentPath === "library" ? "active " : ""}>Library</a></li>
    <li class="nav-item"><a href="/bookmarks/" class={currentPath === "bookmarks" ? "active " : ""}>Bookmarks</a></li>
    <li class="nav-item"><a href="/now/" class={currentPath === "now" ? "active " : ""}>Now</a></li>
    <li class="nav-item"><a href="/about/" class={currentPath === "about" ? "active " : ""}>About</a></li>
  </ul>
</nav>

<style>
  .nav-simple {
    width: calc(55%);
    height: auto;
    background-color: var(--table-bg);
    margin-top: 24px;
    margin-bottom: 12px;
    font-family: JBBold;
    display: flex;

    & .logo {
      margin: 0;

      & a {
        background-color: black;
        color: white;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;
      }
    }

    & .arrow {
      margin: 0;
      padding-left: 12px;
      padding-right: 12px;
    }

    & .nav-ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      text-transform: uppercase;

      & li a {
        text-decoration: none;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: var(--text);
      }

      & li a:hover {
        background-color: var(--red);
        color: white;
      }

      & li a.active {
        background-color: var(--red);
        color: white;
      }
    }
  }

  @media (max-width: 1124px) {
    .nav-simple {
      width: 97%;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      padding-left: 10px;
      & .nav-ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-left: 1px solid var(--menubg);
        font-size: 14px;
      }
      & .arrow {
        display: none;
      }
    }
  }
</style>
