---

---

<div class="nav-links">
  <span class="logo">
    <strong><a class="logo-a" href="/">kenan</a></strong><i>.fyi</i></span
  >
  <span style="color:rgb(230, 0, 0)">â—</span>
  <a href="/uses/">uses</a>
  <a href="/now/">now</a>

  <a href="/bits/">bits</a>
  <a href="/about/">about me</a>
</div>
