---

---

<div class="nav-links">
  <span class="logo">
    <strong><a class="logo-a" href="/">kenan</a></strong><i>.fyi</i></span
  >
  >
  <a href="/uses/">uses</a>
  <a href="/bits/">bits</a>
  <a href="/about/">about me</a>
</div>
