---

---

<div class="nav">
  <a href="/" class="no-prev logo">
    <div>
      <span> kenan.fyi </span>
      <span style="color: var(--red); padding-right:0.2rem">●</span>
    </div>
  </a>

  <div class="nav-menu">
    <a href="/now" class="no-prev">now</a>
    <a href="/about" class="no-prev">about</a>
    <a href="/blogroll" class="no-prev">blogroll</a>
    <a href="/log" class="no-prev">log</a>
  </div>
</div>
