---
import Nav from "../components/Nav-gallery.astro";
import Footer from "../components/Footer.astro";
import "../styles/fonts.css";
import "../styles/colors.css";
import "../styles/global.css";
import Taskbar from "../components/Taskbar.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="me" href="https://mas.to/@ingenieur" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" sizes="32x32" href="/favicon.ico" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="kenan.fyi"
            href={new URL("rss.xml", Astro.site)}
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="posting occasionally" />
        <title>{pageTitle}</title>
    </head>
    <body class="gallery">
        <Nav />
        <slot />
        <Footer />
        <Taskbar />
    </body>
</html>
