---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="me" href="https://mas.to/@ingenieur" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" sizes="32x32" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,user-scalable=yes" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="posting occasionally" />
    <title>{pageTitle}</title>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
