---
import Base from "./Base-gallery.astro";
import { datum } from "../../utils/zeit.ts";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
    <div class="photo">
        <div>
            <slot />
        </div>
        <div class="photo-meta">
            <h2>{frontmatter.title.replace(/-/g, " ")}</h2>
            <p>
                {datum(frontmatter.shotDate)}
            </p>
            <p>
                {frontmatter.camera}
            </p>
            <p>
                Original:<a
                    href={`https://img.kenan.fyi/photos/originals/${frontmatter.title}.jpg`}
                    >JPG</a
                >
            </p>
        </div>
    </div>
</Base>
