---
import Base from "./Base.astro";
import Extra from "../components/Extra.astro";
const { frontmatter, minutes } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <div class="post-title">
    <h1>{frontmatter.title}</h1>
    <p>
      {
        frontmatter.pubDate.toLocaleDateString("en-us", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
      • {minutes}{frontmatter.status === "wip" ? ", wip" : ""}
    </p>
    {
      frontmatter.updated.toLocaleDateString("en-us") ===
      frontmatter.pubDate.toLocaleDateString("en-us") ? (
        " "
      ) : (
        <p>
          <i>
            updated:
            {frontmatter.updated.toLocaleDateString("en-us", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </i>
        </p>
      )
    }
  </div>
  <main>
    <slot />
  </main>
  <Extra backlinks={frontmatter.backlinks} />
</Base>
