---
import Base from "./Base.astro";
const { frontmatter } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <div class="post-metadata">
    <p>published: {frontmatter.pubDate.toISOString().split("T")[0]}</p>
    {
      frontmatter.updated === null ? (
        ""
      ) : (
        <p>updated: {frontmatter.updated.toISOString().split("T")[0]}</p>
      )
    }
    <p>status: {frontmatter.status}</p>
  </div>
  <div class="post-title"><h1>{frontmatter.title}</h1></div>
  <main>
    <slot />
  </main>
</Base>
