---
import Base from "./Base.astro";
const { frontmatter, minutes } = Astro.props;
---

<Base pageTitle={frontmatter.title}>
  <div class="post-title">
    <h1>{frontmatter.title}</h1>
    <p>
      {
        frontmatter.pubDate.toLocaleDateString("en-us", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      } • {minutes}{frontmatter.status === "wip" ? ", work in progress" : ""}
    </p>
  </div>
  <main>
    <slot />
  </main>
</Base>
